#game {
  display: flex;
  position: relative;
  justify-content: center;
  height: 600px;
  border: 1px solid;
  overflow: hidden;
  background: #000000e3;
}

.ui-note {
  background: gainsboro;
  position: absolute;
}

.note {
  display: flex;
}

.note__name {
  width: 120px;
}

.perfect {
  color: lightseagreen;
  font-size: 3rem;
  font-family: 'Brush Script MT', cursive;
  top: 80px;
  left: 40px;
}

#chart-notes {
  position: relative;
  top: 50px;
  display: flex;
}

:root {
  --target-color: gainsboro;
}
.note-target {
  position: relative;
  border-top: 1px solid var(--target-color);
  border-bottom: 1px solid var(--target-color);
}

.note-target-timing {
  position: absolute;
  top: -30px;
  color: white;
  transform: rotateX(90deg);
}


@keyframes target-timing {
  0% {
    transform: rotateX(0deg);
  }

  100% {
    transform: rotateX(90deg);
  }
}

:root {
  --target-animation: target-timing 0.5s;
}

.timing-perfect {
  color: lightskyblue;
  animation: var(--target-animation);
}

.timing-great {
  color: gold;
  animation: var(--target-animation);
}

.note-target:first-child {
  border-left: 1px solid var(--target-color);
}

.note-target-first {
  border-left: 1px solid var(--target-color);
}

.note-target-last {
  border-right: 1px solid var(--target-color);
}

@keyframes target-flash {
  0%   { 
    box-shadow: 0px 0px 5px 5px white;
  }
  100% { 
    box-shadow: none;
  }
}

.note-target-hl {
  animation: target-flash 0.5s;
}
