#game {
  display: flex;
  height: 600px;
  border: 1px solid;
  overflow: hidden;
}

.note__timing {
  margin: 0 5px 0 0;
  width: 80px;
}

.note__timing--upper {
  color: green;
}

.note__timing--lower {
  color: red;
}

.ui-note {
  background: skyblue;
  height: 15px;
  position: absolute;
  width: 15px;
}

.note {
  display: flex;
}

.note__name {
  width: 120px;
}

#chart-notes {
  position: relative;
  background: black;
  height: 1px;
  width: 100px;
}
